{% extends "layout.html" %}

{% block title %}
{{ title }}
{% endblock %}



{% block content %}
<div class="content">





  <div class="head">
    <div class="d-flex bd-highlight mb-3 bg-light p-4">
         <div class="p-2 bd-highlight"><a type="button" href="/" class="btn btn-outline-danger" role="button">トップに戻る</a></div>
        <div class="ms-auto p-2 bd-highlight"><h2 class="fw-bold fs-3">{{ newmessage }}</h2></div>
    </div>
  </div>


  <div class="housepost w-75 mx-auto">

      <h1 class="my-5 fw-bold text-center">あたたかいかいご支援ありがとうございます。</h1>

      <div>
           <ul class="nav nav-tabs" role="tablist">
           <!--一つ目のタブ message 部分-->
               <li class="nav-item" role="presentation">
                   <a class="nav-link active fw-bold" href="#msgs" data-bs-toggle="tab" role="tab" aria-controls="msgs">掲載いただいてる空き家</a>
               </li>
           <!-- second tab form part-->
               <li class="nav-item" role="presentation">
                   <a class="nav-link fw-bold" href="#lending" data-bs-toggle="tab" role="tab" aria-controls="forms">全ての空き家をみる</a>
               </li>
           <!--third tab form part-->
               <li class="nav-item" role="presentation">
                   <a class="nav-link fw-bold" href="#forms" data-bs-toggle="tab" role="tab" aria-controls="forms">空き家情報の登録フォーム</a>
               </li>

           </ul>

      </div>
      <!--切り替えタブ部分　-->


<!-- content part -->
<div class="tab-content">
    <!-- first content -->
    <div class="tab-pane fade show active" id="msgs" role="tabpanel">
        <h5 class="p-3 h5 text-center"> * 掲載いただいてる空き家 * </h5>
        <div>
            <div class="card mt-4">
            <div class="card-body">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="fw-bold">GoogleMap</th>
                    <th scope="col" class="fw-bold">都道府県</th>
                    <th scope="col" class="fw-bold">市区町村</th>
                    <th scope="col" class="fw-bold">以下</th>
                </tr>
                </thead>
                <tbody>
                {% for i in houseind | reverse %}
                <tr>
                    <td>{{ i.OwnerGoogleMap }}</td>
                    <td>{{ i.OwnerPrefecture }}</td>
                    <td>{{ i.OwnerCity }}</td>
                    <td>{{ i.OwnerOther }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

            </div>
            </div>

        </div>
    </div>




    <!-- second content -->
    <div class="tab-pane fade show active" id="lending" role="tabpanel">
        <h5 class="p-3 h5 text-center"> * 全ての空き家 * </h5>
        <div class="card mt-4">
            <div class="card-body">

                <table class="table table-striped w-75 mx-auto">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">都道府県</th>
                        <th scope="col">市区町村</th>
                        <th scope="col">Googlemap URL</th>
                        <th scope="col">空き家のオーナー</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in housedatas %}
                    <tr>
                        <td>#</td>
                        <td>{{ i.OwnerPrefecture}}</td>
                        <td>{{ i.OwnerCity }}</td>
                        <td>{{ i.OwnerGoogleMap }}</td>
                        <td>{{ i.OwnerGroup }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>


    <!--third content -->
    <div class="tab-pane fade" id="forms" role="tabpanel">
        <h5 class="mt-4 fw-bold text-center h5">
           * 空き家情報の登録フォーム *
        </h5>
        <div class="card mt-4">
            <div class="card-body">
                <form method="post" action="/login/hopost">
                <div class="form-group">

                    <div class="my-3">
                        <label for="hogooglem" class="form-label my-3">Googlemapで空き家の住所をコピーしてはりつけお願いいたします。</label>
                        <input type="text" class="form-control" id="hogooglem" name="hogooglem" maxlength='200' placeholder="※GoogleMapのアドレス">

                        <div class="row">
                        <div class="col-6">
                            <label for="validationCustom03" class="form-label my-3">都道府県　名</label>
                            <input type="text" class="form-control" id="validationCustom0" name="hoprefecture" required>
                        </div>

                        <div class="col-6">
                        <label for="validationCustom03" class="form-label my-3">市区町村　名</label>
                        <input type="text" class="form-control" id="validationCustom" name="hocity" required>
                        </div>
                        </div>


                        <label for="validationCustom03" class="form-label my-3">市区町村　以下の住所</label>
                        <input type="text" class="form-control" id="validationCustom03" name="hoother" required>


                        <div class="d-grid gap-2 col-6 mx-auto">
                           <input class="btn btn-primary my-3" type="submit" value="空き家を登録する">
                        </div>


                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>




  </div>










</div> <!--content-->
{% endblock %}




